h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

table{
    border: 2px solid black;
}


td{
border: 2px solid black;
}

ul{
    border: 2px solid black;

}

li{
    border: 2px solid black;
   
}

img{
    align-items: center;
    border-radius: 5%;
    max-width: 350px;
    height: 100%;
    margin-left: 500px;
}



p{
    padding: 35px;
}