body{
    display: flex;
    background-image: linear-gradient(rgb(76, 0, 255), rgb(201, 23, 232));
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

form{
    width: 80%;
    margin: 0 auto;
}

input{
    width: 100%;
    height: 40px;
    margin: 5px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    padding: none;
    box-shadow: 2px;
}

button{
    width: 100%;
    height: 60px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 4px;
    box-shadow: 2px;
    cursor: pointer;
    font-size: 30px;
    background-color: purple;
    color: wheat;
}



.form-container{
    width: 500px;
    height: 400px;
    padding-bottom: 200px;
    border-radius: 50px;
    background-color: rgb(3, 3, 43);
    box-shadow: 50px;
    
}


span{
    color: purple;
}


.formh1{
    color: rgb(255, 255, 255);
    text-align: center;
}

.dih1{
    text-align: center;
    color: whitesmoke;
    padding-top: 25%;
}

img{
    border: 2px solid rgb(43, 9, 57);
    border-radius: 50%;
    max-width: 50px;
    height: 100%;
}

p{
    color: white;
}